<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.factorialsystems.msscstore21products.repository.CategoryRepository">
    <resultMap id="categoryResultMap" type="io.factorialsystems.msscstore21products.model.Category">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
        <result column="created_on" property="createdOn" jdbcType="TIMESTAMP"/>
        <result column="image_url" property="imageUrl" jdbcType="VARCHAR"/>
        <result column="suspended" property="suspended" jdbcType="BOOLEAN"/>
        <result column="deleted" property="deleted" jdbcType="BOOLEAN"/>
        <result column="deleted_by" property="deletedBy" jdbcType="VARCHAR"/>
        <result column="deleted_on" property="deletedOn" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="column_list">
        id, name, created_on, created_by, image_url, suspended, deleted, deleted_by, deleted_on
    </sql>

    <select id="findAll" resultMap="categoryResultMap">
        select
        <include refid="column_list"/>
        from category
    </select>

    <select id="findById" parameterType="java.lang.String" resultMap="categoryResultMap">
        select
        <include refid="column_list"/>
        from category
        where id = #{id}
    </select>

    <insert id="save" parameterType="io.factorialsystems.msscstore21products.model.Category">
        insert into category(id, name, image_url, created_by)
        values(#{id}, #{name}, #{imageUrl}, #{createdBy})
    </insert>

    <update id="update" parameterType="io.factorialsystems.msscstore21products.model.Category">
        update category
        <set>
            <if test="name != null">name=#{name},</if>
            <if test="imageUrl != null">image_url=#{imageUrl},</if>
        </set>
        where id = #{id}
    </update>

    <update id="suspend" parameterType="java.util.Map">
        update category set suspended = true
        where id = #{id}
    </update>

    <update id="unsuspend" parameterType="java.lang.String">
        update category set suspended = false
        where id = #{id}
    </update>

    <update id="delete" parameterType="java.util.Map">
        update category set deleted = true, deleted_by = #{deletedBy}, deleted_on = NOW()
        where id = #{id}
    </update>

    <select id="search" parameterType="java.lang.String" resultMap="categoryResultMap">
        select
        <include refid="column_list"/>
        from category
        where name like CONCAT(#{search}, '%')
    </select>
</mapper>