<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.factorialsystems.msscstore21products.repository.CategoryRepository">
    <resultMap id="categoryResultMap" type="io.factorialsystems.msscstore21products.model.Category">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
        <result column="created_on" property="createdOn" jdbcType="TIMESTAMP"/>
        <result column="image_url" property="imageUrl" jdbcType="VARCHAR"/>
        <result column="disabled" property="disabled" jdbcType="BOOLEAN"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="column_list">
        id, name, created_on, created_by, image_url, disabled, description, tenant_id
    </sql>

    <select id="findAllForTenant" resultMap="categoryResultMap" parameterType="java.lang.String">
        select
        <include refid="column_list"/>
        from category where tenant_id = #{id}
    </select>

    <select id="findById" parameterType="java.lang.String" resultMap="categoryResultMap">
        select
        <include refid="column_list"/>
        from category
        where id = #{id}
    </select>

    <select id="findByIdAndTenantId" parameterType="java.util.Map" resultMap="categoryResultMap">
        select
        <include refid="column_list"/>
        from category
        where id = #{id} and tenant_id = #{tenantId}
    </select>

    <select id="findByNameAndTenantId" resultMap="categoryResultMap" parameterType="java.util.Map">
        select
        <include refid="column_list"/>
        from category
        where name = #{name} and tenant_id = #{tenantId}
    </select>

    <insert id="save" parameterType="io.factorialsystems.msscstore21products.model.Category">
        insert into category(id, name, image_url, created_by, tenant_id, description)
        values(#{id}, #{name}, #{imageUrl}, #{createdBy}, #{tenantId}, #{description})
    </insert>

    <update id="update" parameterType="io.factorialsystems.msscstore21products.model.Category">
        update category
        <set>
            <if test="name != null">name=#{name},</if>
            <if test="imageUrl != null">image_url=#{imageUrl},</if>
            <if test="disabled != null">disabled=#{disabled},</if>
            <if test="description != null">description=#{description},</if>
        </set>
        where id = #{id}
    </update>

    <select id="searchForTenant" parameterType="java.util.Map" resultMap="categoryResultMap">
        select
        <include refid="column_list"/>
        from category
        where tenant_id = #{tenantId} and name like CONCAT(#{search}, '%')
    </select>
</mapper>
