<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.factorialsystems.msscstore21products.repository.ProductVariantRepository">
    <resultMap id="productVariantResultMap" type="io.factorialsystems.msscstore21products.model.ProductVariant">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
        <result column="created_on" property="createdOn" jdbcType="TIMESTAMP"/>
        <result column="suspended" property="suspended" jdbcType="BOOLEAN"/>
        <result column="deleted" property="deleted" jdbcType="BOOLEAN"/>
        <result column="deleted_by" property="deletedBy" jdbcType="VARCHAR"/>
        <result column="deleted_on" property="deletedOn" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="column_list">
        pv.id,
        pv.name,
        pv.created_on,
        pv.created_by,
        pv.suspended,
        pv.deleted,
        pv.deleted_by,
        pv.deleted_on
    </sql>

    <select id="findAll" parameterType="java.lang.String" resultMap="productVariantResultMap">
        select
        <include refid="column_list"/>
        from product_variant pv
    </select>

    <select id="findById" parameterType="java.lang.String" resultMap="productVariantResultMap">
        select
        <include refid="column_list"/>
        from product_variant pv
        where pv.id = #{id}
    </select>

    <select id="search" parameterType="java.lang.String" resultMap="productVariantResultMap">
        select
        <include refid="column_list"/>
        from product_variant pv
        where pv.name like concat(#{search}, '%')
    </select>

    <select id="findByIdOrName" parameterType="java.lang.String" resultMap="productVariantResultMap">
        select
        <include refid="column_list"/>
        from product_variant pv
        where pv.id = #{id} or pv.name = #{id}
    </select>

    <insert id="save" parameterType="io.factorialsystems.msscstore21products.model.ProductVariant">
        insert into product_variant(id, name, created_by)
        values(#{id}, #{name}, #{createdBy})
    </insert>

    <update id="update" parameterType="io.factorialsystems.msscstore21products.model.ProductVariant">
        update product_variant
        <set>
            <if test="name != null">name=#{name},</if>
        </set>
        where id = #{id}
    </update>

    <update id="suspend" parameterType="java.lang.String">
        update product_variant set suspended = true
        where id = #{id}
    </update>

    <update id="unsuspend" parameterType="java.lang.String">
        update product_variant set suspended = false
        where id = #{id}
    </update>

    <update id="delete" parameterType="java.util.Map">
        update product_variant set deleted = true, deleted_by = #{deletedBy}, deleted_on = NOW()
        where id = #{id}
    </update>
</mapper>