<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.factorialsystems.msscstore21products.repository.UomRepository">
    <resultMap id="uoMResultMap" type="io.factorialsystems.msscstore21products.model.Uom">
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
        <result column="created_on" property="createdOn" jdbcType="TIMESTAMP"/>
        <result column="disabled" property="disabled" jdbcType="BOOLEAN"/>
        <result column="tenant_id" property="tenantId" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="column_list">
        id, name, created_on, created_by, disabled, tenant_id
    </sql>

    <select id="findAllForTenant" parameterType="java.lang.String" resultMap="uoMResultMap">
        select
        <include refid="column_list"/>
        from uom where tenant_id = #{id}
    </select>

    <select id="findById" parameterType="java.lang.String" resultMap="uoMResultMap">
        select
        <include refid="column_list"/>
        from uom
        where id = #{id}
    </select>

    <select id="findByIdAndTenantId" parameterType="java.util.Map" resultMap="uoMResultMap">
        select
        <include refid="column_list"/>
        from uom
        where id = #{id} and tenant_id = #{tenantId}
    </select>

    <select id="search" parameterType="java.util.Map" resultMap="uoMResultMap">
        select
        <include refid="column_list"/>
        from uom
        where tenant_id = #{id} and name like CONCAT(#{search}, '%')
    </select>

    <insert id="save" parameterType="io.factorialsystems.msscstore21products.model.Uom">
        insert into uom(id, name, created_by, tenant_id)
        values(#{id}, #{name}, #{createdBy}, #{tenantId})
    </insert>

    <update id="update" parameterType="io.factorialsystems.msscstore21products.model.Uom">
        update uom
        <set>
            <if test="name != null">name=#{name},</if>
            <if test="disabled != null">disabled=#{disabled},</if>
        </set>
        where id = #{id}
    </update>

</mapper>